In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df.loc[['A','B'], ['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077

**Filtering based on condaitions**

In [9]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [16]:
#Where W is greater the 0, show column X and Y
boolser = df['W']>0
result = df[boolser]
result[['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [18]:
#Same as above but using one line
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

**Using multiple conditions to filter**

In [20]:
#Have the use '&' with multiple. Use '|'for 'OR'
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

**Multi-Index and Index Hierarchy**

In [24]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [30]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -0.497104 -0.754070
       2   -0.943406  0.484752
       3   -0.116773  1.901755
G2     1    0.238127  1.996652
       2   -0.993263  0.196800
       3   -1.136645  0.000366

In [27]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [28]:
#Getting particuliar value from df
df.loc['G2'].loc[2]['B']

0.07295967531703869

In [29]:
#Cross Section used with multilevel index. Grabbing where num index is one for both groups
df.xs(1,level='Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502